In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import matplotlib.cm as cm
import requests
import json
import pandas as pd
import time
import datetime
import os
import sys
import glob
import re
import math
import random
import pickle
import copy
import itertools
import collections
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

#### TED Data

In [9]:
TED_data = pd.read_csv('TED_data.csv')
# split Year column and keep only decimals value
TED_data['Year'] = TED_data['Year'].apply(lambda x: x.split(' ')[1])
#Save the data
TED_data.to_csv('Data/TED_data.csv', index=False)

#### WoLLIC Data

In [4]:
WoLLIC_data = pd.read_csv('WoLLIC_data.csv')

# # create a new row for each element in Full name column and split by ","
# WoLLIC_data = WoLLIC_data.assign(Full_Name=WoLLIC_data['Full name'].str.split(',')).explode('Full_Name')
# WoLLIC_data.drop(['Full name'], axis=1, inplace=True)
# # Rename column
# WoLLIC_data.rename(columns={'Full_Name': 'Full name'}, inplace=True)

# Trim the spaces in the Full name column
WoLLIC_data['Full name'] = WoLLIC_data['Full name'].apply(lambda x: x.strip())

# Save the data
WoLLIC_data.to_csv('Data/WoLLIC_data.csv', index=False)

#### Add Field

In [2]:
def Add_field_column(folder,file_name,field_name):
    # Read the data
    df = pd.read_csv(folder+file_name)
    # Add a new column to the data
    df["Field"] = field_name
    # Save the data
    df.to_csv(folder+file_name, index=False)

In [4]:
Add_field_column('Proceedings/','WWW_data.csv','Data Management')

#### Remove Field

In [3]:
df = pd.read_csv('Proceedings/ASPDAC_data.csv')
df[df['Field'].isna()]

                   Full name  Year Field
1450            Subir K. Roy  2002   NaN
1451               S. Ramesh  2002   NaN
1452    Supratik Chakraborty  2002   NaN
1453           Tsuneo Nakata  2002   NaN
1454      Sreeranga P. Rajan  2002   NaN
...                      ...   ...   ...
1841           Sanjeev Patel  2002   NaN
1842        Ranjit Yashwante  2002   NaN
1843  Bhalchandra Jahagirdar  2002   NaN
1844                T. Datta  2002   NaN
1845      C. S. Muralidharan  2002   NaN

[396 rows x 3 columns]