In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import matplotlib.cm as cm
import requests
import json
import pandas as pd
import time
import datetime
import os
import sys
import glob
import re
import math
import random
import pickle
import copy
import itertools
import collections
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

#### TED Data

In [9]:
TED_data = pd.read_csv('TED_data.csv')
# split Year column and keep only decimals value
TED_data['Year'] = TED_data['Year'].apply(lambda x: x.split(' ')[1])
#Save the data
TED_data.to_csv('Data/TED_data.csv', index=False)

#### WoLLIC Data

In [4]:
WoLLIC_data = pd.read_csv('WoLLIC_data.csv')

# # create a new row for each element in Full name column and split by ","
# WoLLIC_data = WoLLIC_data.assign(Full_Name=WoLLIC_data['Full name'].str.split(',')).explode('Full_Name')
# WoLLIC_data.drop(['Full name'], axis=1, inplace=True)
# # Rename column
# WoLLIC_data.rename(columns={'Full_Name': 'Full name'}, inplace=True)

# Trim the spaces in the Full name column
WoLLIC_data['Full name'] = WoLLIC_data['Full name'].apply(lambda x: x.strip())

# Save the data
WoLLIC_data.to_csv('Data/WoLLIC_data.csv', index=False)

#### Add Field

In [2]:
def Add_field_column(folder,file_name,field_name):
    # Read the data
    df = pd.read_csv(folder+file_name)
    # Add a new column to the data
    df["Field"] = field_name
    # Save the data
    df.to_csv(folder+file_name, index=False)

In [4]:
Add_field_column('Proceedings/','WWW_data.csv','Data Management')

#### Remove Field

In [2]:
def append_data(folder):
    all_files = glob.glob(folder + "/*.csv")
    df = pd.DataFrame()
    for file in all_files:
        df_temp = pd.read_csv(file, index_col=None)
        df_temp['File name'] = os.path.splitext(os.path.basename(file))[0]
        df = df.append(df_temp, ignore_index=True)
    df['File name'] = df['File name'].str.split('_').str[0]
    return df

df = append_data('Key Note Speakers')
print("Number of rows:", len(df))
df.tail()

Number of rows: 7616

,Full name,Year,Sex,Field,File name,Key Note Speaker,Duration
7611,Victor Zue,1995,x,Data Management,WWW,NaN,NaN
7612,David Goddeau,1995,x,Data Management,WWW,NaN,NaN
7613,Christopher Dobbs,1995,x,Data Management,WWW,NaN,NaN
7614,Robert W. Lucky,1995,x,Data Management,WWW,NaN,NaN
7615,Thomas Reardon,1995,x,Data Management,WWW,NaN,NaN

#### Other

In [31]:
t = open("WWW_2001.txt", "r") 
text = t.readlines()

In [32]:
# keep only the lines that start with "by "
text = [x for x in text if x.startswith("by")]

In [33]:
text

['by Renata Wassermann and Marcelo Finger (Departamento de CiÃªncia da ComputaÃ§Ã£o, Instituto de MatemÃ¡tica e EstatÃ\xadstica, Universidade de SÃ£o Paulo, Brazil)\n',
 'by Maricarmen MartÃ\xadnez (Department of Mathematics, Indiana University, USA)\n',
 'by Carlos Oller (Facultad de FilosofÃ\xada y Letras, Universidad de Buenos Aires, Argentina)\n',
 'by Renata Pereira de Freitas (Programa de Engenharia de Sistemas e ComputaÃ§Ã£o, COPPE, Universidade Federal do Rio de Janeiro, Brazil),\n',
 'by ClÃ¡udia Nalon, Clare Dixon and Michael Fisher (Department of Computer Science, University of Liverpool, United Kingdom)\n',
 'by MaurÃ\xadcio Ayala RincÃ³n (Departamento de MatemÃ¡tica, Universidade de BrasÃ\xadlia, Brazil) and   Fairouz Kamareddine (Department of Computing and Electrical Engeneering, Heriot-Watt University, Scotland)\n',
 'by Hongwei Xi (Department of Electrical and Computer Engineering and Computer Science, University of Cincinnati, USA) and\n',
 'by Juliette Kennedy (Institut Mittag-Leffler, The Royal Swedish Academy of Sciences, Sweden)\n',
 'by Aldo Victorio Figallo (Departamento de MatemÃ¡tica, Universidad Nacional del Sur, Argentina),   Guillermina Ramon and Susana Saad (Instituto de Ciencias BÃ¡sicas, Universidad Nacional de San Juan, Argentina)\n',
 'by Michel Gagnon (Departamento de InformÃ¡tica, Universidade Federal do ParanÃ¡, Brazil)\n',
 'by Ralf Naumann ']