In [22]:
# load setup.py file
%run setup.py

# Load data
def load_file(filename):
    df = pd.read_csv(filename, index_col=0)
    df['gender'].replace(['M', 'F'], [0, 1], inplace=True)
    df = df.astype({"Sex":int, "Year":int})
    return df

In [25]:
df_invited = pd.read_csv('factInvited.csv')
df_proceedings = pd.read_csv('factProceedings.csv')

In [29]:
df_invited[df_invited['Year']=='Human–Computer Interaction']

,Full name,Year,Sex,Field,File name,Key Note Speaker,Duration,First name,Last name,gender
206,Paul Resnick1999,Human–Computer Interaction,NaN,NaN,CHI,NaN,NaN,paul,resnick1999,M

In [17]:
# replace M and F with 0 and 1 respectively 
df_invited['gender'].replace(['M', 'F'], [0, 1], inplace=True)
df_proceedings['gender'].replace(['M', 'F'], [0, 1], inplace=True)
df_invited.head()

,Full name,Year,Sex,Field,File name,Key Note Speaker,Duration,First name,Last name,gender
0,Atsushi Asada,1995,0,Computer Architecture,ASPDAC,NaN,NaN,atsushi,asada,0
1,Jim Meadlock,1995,0,Computer Architecture,ASPDAC,NaN,NaN,jim,meadlock,0
2,John Darringer,1995,0,Computer Architecture,ASPDAC,NaN,NaN,john,darringer,0
3,Tatsuo Izawa,1997,0,Computer Architecture,ASPDAC,NaN,NaN,tatsuo,izawa,0
4,Daniel D. Gajski,1997,0,Computer Architecture,ASPDAC,NaN,NaN,daniel,d. gajski,0

In [21]:
# find all rows where 'gender' equal to 'sex' column in df_invited
df_invited[df_invited['Sex']=="0"]

,Full name,Year,Sex,Field,File name,Key Note Speaker,Duration,First name,Last name,gender
0,Atsushi Asada,1995,0,Computer Architecture,ASPDAC,NaN,NaN,atsushi,asada,0
1,Jim Meadlock,1995,0,Computer Architecture,ASPDAC,NaN,NaN,jim,meadlock,0
2,John Darringer,1995,0,Computer Architecture,ASPDAC,NaN,NaN,john,darringer,0
3,Tatsuo Izawa,1997,0,Computer Architecture,ASPDAC,NaN,NaN,tatsuo,izawa,0
4,Daniel D. Gajski,1997,0,Computer Architecture,ASPDAC,NaN,NaN,daniel,d. gajski,0
...,...,...,...,...,...,...,...,...,...,...
6750,Tim Berners-Lee,2002,0,Data Management,WWW,NaN,NaN,tim,berners-lee,0
6751,Ian Foster,2002,0,Data Management,WWW,NaN,NaN,ian,foster,0
6752,Alfred Z. Spector,2002,0,Data Management,WWW,NaN,NaN,alfred,z. spector,0
6753,Richard A. DeMillo,2002,0,Data Management,WWW,NaN,NaN,richard,a. demillo,0
6755,Tim Berners-Lee,2001,0,Data Management,WWW,NaN,NaN,tim,berners-lee,0

In [19]:
np.where(df_invited['gender'] == df_invited['Sex'],1,0).sum()

0