In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import matplotlib.cm as cm
import requests
import json
import pandas as pd
import time
import datetime
import os
import sys
import glob
import re
import math
import random
import pickle
import copy
import itertools
import collections
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

## Invited Speakers

In [7]:
'''
import csv

# Open the input file for reading
with open('AAAI.txt', 'r') as input_file:
    # Create a CSV reader object to read the input file
    reader = csv.reader(input_file, delimiter=',')

    # Loop through each row in the input file
    for row in reader:
        # Extract the year value from the row
        year = row[0]

        # Loop through each name value in the row (starting from index 1)
        for name in row[1:]:
            # Create a new row with the year and name values
            new_row = f"{year},{name}"
            print(new_row)
'''

'\nimport csv\n\n# Open the input file for reading\nwith open(\'AAAI.txt\', \'r\') as input_file:\n    # Create a CSV reader object to read the input file\n    reader = csv.reader(input_file, delimiter=\',\')\n\n    # Loop through each row in the input file\n    for row in reader:\n        # Extract the year value from the row\n        year = row[0]\n\n        # Loop through each name value in the row (starting from index 1)\n        for name in row[1:]:\n            # Create a new row with the year and name values\n            new_row = f"{year},{name}"\n            print(new_row)\n'

## Proceedings

In [11]:
# Initialize
df = pd.DataFrame(columns = ['Full_name',"Year"])
# create a list from 2000 to 2022 without 2009, 2003 and 2001 and combine that with a list from 80 to 99 without 95, 89, 85 and 81
years = [str(i) for i in range(2000,2023) if i not in [2009, 2003, 2001]]
years = years + [str(i) for i in range(80,100) if i not in [95, 89, 85, 81]]
# years

In [13]:
for year in years:
    URL_name = "https://dblp.org/db/conf/aaai/aaai" + str(year) + ".html"
    URL = URL_name
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")

    data = []
    Full_name = []

    results1 = soup.find(id="main")
    results = soup.find(id="main").find_all("ul", class_="publ-list")
    # results1 = results.find(_class="publ-list")
    for row in results:
        ids = [tag['id'] for tag in row.find_all(id=True)]
        for i in ids:
            name_ = results1.find(id=str(i))
            rows = name_.find_all("span")
            for row in rows:
                speaker = row.find_all("a")
                # only take non empty lists
                if speaker:
                    Full_name.append(speaker[0].text)

    # create a dataframe
    df1 = pd.DataFrame(columns = ['Full name',"Year"])
    # append full name to the dataframe
    df1['Full name'] = Full_name
    # append year to the dataframe
    df1['Year'] = year
    time.sleep(2)

    df = df.append(df1, ignore_index=True)

In [24]:
df = df.drop('Full_name', axis=1)
df

       Year            Full name
0      2000       Henry A. Kautz
1      2000      Bruce W. Porter
2      2000       Shawn Arseneau
3      2000              Wei Sun
4      2000       Changpeng Zhao
...     ...                  ...
55227    99  Muhammad Afzal Upal
55228    99         Özlem Uzuner
55229    99           Boris Katz
55230    99          Deniz Yuret
55231    99     Susan L. Epstein

[55232 rows x 2 columns]

In [27]:
# add 19 in front of the Year if the year is less than 2000
# df['Year'] = df['Year'].apply(lambda x: '19' + x if int(x) < 2000 else x)
df

df.to_csv('AAAI_data.csv', index=False)