In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import matplotlib.cm as cm
import requests
import json
import pandas as pd
import time
import datetime
import os
import sys
import glob
import re
import math
import random
import pickle
import copy
import itertools
import collections
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

In [2]:
# Initialize
df = pd.DataFrame(columns = ['Full_name',"Year"])
# Create a list from 05 to 22
years = [str(i) for i in range(5,23)]
# if len of year is 1, add 0 in front of it
years = ["0"+i if len(i)==1 else i for i in years]

In [4]:
for year in years:
    URL_name = "https://meetings.aps.org/Meeting/APR" + year + "/APS_Invited"
    URL = URL_name
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find(id="mainContent")

    data = []
    results = soup.find(id="mainContent")
    rows = results.find_all("tr")
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text for ele in cols]
        data.append([ele for ele in cols if ele]) # Get rid of empty values

    # remove the last element in the list
    for i in range(len(data)):
        data[i] = data[i][:-1]

    # remove list in list 
    data = list(itertools.chain(*data))

    # split data into 2 lists after ','
    data = [x.split(',') for x in data]

    Last_name = []
    for i in range(len(data)):
        Last_name.append(data[i][0])

    First_name = []
    for i in range(len(data)):
        First_name.append(data[i][1])
        First_name[i] = First_name[i].strip()
        # split after the first space
        First_name[i] = First_name[i].split(' ', 1)[0]

    Full_name = []
    for i in range(len(data)):
        Full_name.append(First_name[i] + ' ' + Last_name[i])

    # create a dataframe
    df1 = pd.DataFrame(columns = ['Full_name',"Year"])
    # append full name to the dataframe
    df1['Full_name'] = Full_name
    # append year to the dataframe
    df1['Year'] = "20" + year

    df = df.append(df1, ignore_index=True)
df

            Full_name  Year
0       Rana Adhikari  2005
1     Kaustubh Agashe  2005
2     Felix Aharonian  2005
3        John Ahearne  2005
4      Hiroaki Aihara  2005
...               ...   ...
8029       Jaehoon Yu  2022
8030       Yajie Yuan  2022
8031   Xiaochao Zheng  2022
8032  Aaron Zimmerman  2022
8033      Scott Zoldi  2022

[8034 rows x 2 columns]

In [5]:
df.to_csv("APS_April_data.csv", index = False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=6e542fc8-e0b6-4f20-97a0-c259f04afaa5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>