In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import matplotlib.cm as cm
import requests
import json
import pandas as pd
import time
import datetime
import os
import sys
import glob
import re
import math
import random
import pickle
import copy
import itertools
import collections
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

In [39]:
# Initialize
df = pd.DataFrame(columns = ['Full name',"Year"])
# make list from 1990 to 2022 with only even numbers and make it a string
# years = [2005,2000,1999,1998,1997,1996,1994,1993,1992,1991,1989,1988]
years = [1,2]

In [40]:
for year in years:
    URL_name = "https://dblp.org/db/conf/cvpr/cvpr2005-" + str(year) + ".html"
    URL = URL_name
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")

    data = []
    Full_name = []

    results1 = soup.find(id="main")
    results = soup.find(id="main").find_all("ul", class_="publ-list")
    # results1 = results.find(_class="publ-list")
    for row in results:
        ids = [tag['id'] for tag in row.find_all(id=True)]
        for i in ids:
            name_ = results1.find(id=str(i))
            rows = name_.find_all("span")
            for row in rows:
                speaker = row.find_all("a")
                # only take non empty lists
                if speaker:
                    Full_name.append(speaker[0].text)

    # create a dataframe
    df1 = pd.DataFrame(columns = ['Full name',"Year"])
    # append full name to the dataframe
    df1['Full name'] = Full_name
    # append year to the dataframe
    df1['Year'] = 2005
    time.sleep(2)

    df = df.append(df1, ignore_index=True)

In [42]:
df.tail()

                    Full name  Year
1008                   Jia Li  2005
1009            James Ze Wang  2005
1010              Abbas Rafii  2005
1011  Christopher J. Rossbach  2005
1012               Peter Zhao  2005

In [43]:
df.to_csv('CVPR.csv', index=False)