In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import matplotlib.cm as cm
import requests
import json
import pandas as pd
import time
import datetime
import os
import sys
import glob
import re
import math
import random
import pickle
import copy
import itertools
import collections
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

## Proceedings

In [24]:
# Initialize
df = pd.DataFrame(columns = ['Full_name',"Year"])
# create a list from 2000 to 2022 without 2009, 2003 and 2001 and combine that with a list from 80 to 99 without 95, 89, 85 and 81
years = [str(i) for i in range(1987,2022)]
# years

In [25]:
for year in years:
    URL_name = "https://dblp.org/db/conf/nips/nips" + str(year) + ".html"
    URL = URL_name
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")

    data = []
    Full_name = []

    results1 = soup.find(id="main")
    results = soup.find(id="main").find_all("ul", class_="publ-list")
    # results1 = results.find(_class="publ-list")
    for row in results:
        ids = [tag['id'] for tag in row.find_all(id=True)]
        for i in ids:
            name_ = results1.find(id=str(i))
            rows = name_.find_all("span")
            for row in rows:
                speaker = row.find_all("a")
                # only take non empty lists
                if speaker:
                    Full_name.append(speaker[0].text)

    # create a dataframe
    df1 = pd.DataFrame(columns = ['Full name',"Year"])
    # append full name to the dataframe
    df1['Full name'] = Full_name
    # append year to the dataframe
    df1['Year'] = year
    time.sleep(2)

    df = df.append(df1, ignore_index=True)

In [26]:
df = df.drop('Full_name', axis=1)
df

       Year             Full name
0      1987      Dana Z. Anderson
1      1987  Yaser S. Abu-Mostafa
2      1987      Joshua Alspector
3      1987       Robert B. Allen
4      1987             Victor Hu
...     ...                   ...
30021  2019   Chethan Pandarinath
30022  2019           Zhilin Yang
30023  2019           Thang Luong
30024  2019  Ruslan Salakhutdinov
30025  2019            Quoc V. Le

[30026 rows x 2 columns]

In [27]:
df4 = df3.append(df, ignore_index=True)

In [23]:
df3 = df3.drop('Full_name', axis=1)

In [33]:
df3.to_csv('NeurIPS_data.csv', index=False)

In [32]:
df3 = df3[['Year', 'Full name']]

In [30]:
df3['Full name'] = df3['Full name'].str.strip()

## Proceedings 2020 + 2022

In [18]:
from tqdm import tqdm

In [25]:
URL_name = "https://proceedings.neurips.cc/paper_files/paper/2020"
page = requests.get(URL_name)
soup = BeautifulSoup(page.content, "html.parser")

author_list = []

list_of_all_papers = soup.find_all("li",class_ = "none")
for row in tqdm(range(0,len(list_of_all_papers))):
    authors = list_of_all_papers[row].find("i").text
    authors = authors.split(",")
    author_list.append(authors)
    
single_list = [item for sublist in author_list for item in sublist]
# create a dataframe
df1 = pd.DataFrame(columns = ['Full name',"Year"])
# append full name to the dataframe
df1['Full name'] = single_list
# append year to the dataframe
df1['Year'] = 2020

100%|██████████| 1898/1898 [00:00<00:00, 111531.57it/s]

In [26]:
df1

             Full name  Year
0          Seongmin Ok  2020
1     Sangnie Bhardwaj  2020
2          Ian Fischer  2020
3       Johannes Ballé  2020
4          Troy Chinen  2020
...                ...   ...
7786       Yoav Levine  2020
7787         Noam Wies  2020
7788         Or Sharir  2020
7789        Hofit Bata  2020
7790     Amnon Shashua  2020

[7791 rows x 2 columns]

In [28]:
df3 = df1.append(df2)

In [22]:
df2 = df1.copy()

In [14]:
test = list_of_all_papers[0].find("i").text
test = test.split(",")
liste.append(test)

In [15]:
liste

[['Yucheng Ding',
  ' Chaoyue Niu',
  ' Fan Wu',
  ' Shaojie Tang',
  ' Chengfei Lyu',
  ' yanghe feng',
  ' Guihai Chen'],
 ['Yucheng Ding',
  ' Chaoyue Niu',
  ' Fan Wu',
  ' Shaojie Tang',
  ' Chengfei Lyu',
  ' yanghe feng',
  ' Guihai Chen']]

In [ ]:
URL_name = "https://dblp.org/db/conf/nips/nips" + str(year) + ".html"
URL = URL_name
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")

data = []
Full_name = []

results1 = soup.find(id="main")
results = soup.find(id="main").find_all("ul", class_="publ-list")
# results1 = results.find(_class="publ-list")
for row in results:
    ids = [tag['id'] for tag in row.find_all(id=True)]
    for i in ids:
        name_ = results1.find(id=str(i))
        rows = name_.find_all("span")
        for row in rows:
            speaker = row.find_all("a")
            # only take non empty lists
            if speaker:
                Full_name.append(speaker[0].text)

# create a dataframe
df1 = pd.DataFrame(columns = ['Full name',"Year"])
# append full name to the dataframe
df1['Full name'] = Full_name
# append year to the dataframe
df1['Year'] = year
time.sleep(2)

df = df.append(df1, ignore_index=True)